.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: repeat(6, 50px) ;
    border: 3px solid;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 203px;
    margin: auto;
}

/* .container button {
    
    background-color: rgb(233, 227, 227);
} */



#plus, #equals {
    grid-row-end: span 2;
}
#zero {
    grid-column-end: span 2;
}
#display {
    grid-column-end: span 4;
    border: 1px solid;
    margin: 4px;
    padding: 4px;
    padding-top: 6px;
    font-size: 1.5em;
    background-color: rgba(225, 236, 235, 0.247);
    
}